.cta-section {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading.black {
  color: var(--color-black);
  margin-bottom: 10px;
  font-size: var(--font-size-h1);
  letter-spacing: -2px;
  text-transform: capitalize;
  line-height: 1.2;
}

.hero-heading.center {
  text-align: center;
}

.cta-subtitle {
  color: var(--color-black);
  font-weight: 400;
  max-width: 700px;
  margin: 15px auto 30px;
}
